@tailwind base;
@tailwind components;
@tailwind utilities;

/* LAYOUT/SIDEBAR | START */

    .sidebar{width:240px; display:flex; flex-direction:column; background-color:#00529A ;}
    
    .logo{ width:80px } 

    .avatar { width:90px; height: 90px; background-color: aliceblue; }

    .nav-link { 
        transition: background-color 0.2s ease; 
        border-radius: 0.375rem;
    }
    .nav-link:hover { 
        background-color: rgba(255, 255, 255, 0.2); 
        color: #fff !important;
    }

    nav .icon{
        width: 30px;
    }

/* END */