@tailwind base;
@tailwind components;
@tailwind utilities;

/* LAYOUT/SIDEBAR | START */
body { 
    margin:0; 
    padding:0; 
    height:100vh; 
    overflow:hidden; 
}

.sidebar{
    background-color:#00529A;
    color: white;
    width: 240px;
    height: 100vh;
    position: fixed;
    display: flex; flex-direction: column; justify-content: space-between;
}

.top-section .sidebar{
    padding: 1.5rem 1rem;
    text-align: center;
}

.sidebar .logo{
    width: 80px; margin-bottom: 1rem;
}

.sidebar .avatar{
    width: 80px; height: 80px; border-radius: 50%;
    background-color: #6c757d ;
    margin: 0 auto 1rem;
}

.sidebar .name {
    font-weight: bold; font-size: 1rem;
}

.sidebar .id-label{
    font-size: 0.875rem; color: #adb5bd;
}

.sidebar nav ul{
    list-style: none; padding: 0; margin: 2rem 0;
}

.sidebar nav ul li{
    margin: 0.5rem 0;
}

.sidebar nav a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.25rem;
    transition: background 0.3s;
}

.sidebar nav a.active, 
.sidebar nav a:hover{
    background-color: rgba(255, 255,255,0.1);
}

.sidebar .footer{
    font-size: 0.75em;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.main-content{
    margin-left: 240px;
    padding: 2rem;
    height: 100vh;
    overflow: auto;
}
/* END */